@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.cross-sell-items__containter {
  width: 100%;
  margin-top: 8px;
  margin-bottom: 10px;
  padding: 0 10px;
  display: flex;
  flex-direction: column;

  .cross-sell-items-description {
    color: gray;
    margin-bottom: 5px;
  }

  .cross-sell-items__list {
    height: 220px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 7px;
    justify-content: center;

    .cross-sell-item {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }

    .cross-sell-item-image {
      width: 80px;
      height: auto;
      margin-bottom: 3px;
    }

    .cross-sell-item-info {
      display: flex;
      flex-direction: column;
      margin-bottom: 10px;
      height: 75px;

      .cross-sell-item-title {
        font-family: 'Noto Serif JP', serif;
        font-size: 14px;
      }

      .cross-sell-item-price {
        font-size: 14px;
        margin-bottom: 6px;
      }

      .cross-sell-item-container {
        position: relative;
        width: 100%;
      }

      .cross-sell-item-container::after {
        content: '\f078';
        font: normal 13px FontAwesome;
        color: darkgray;
        right: 8px;
        top: 6px;
        height: 12px;
        // padding-left: 9px;
        position: absolute;
        pointer-events: none;
      }

      .cross-sell-item-select {
        width: 85px;
        border: 1px solid lightgrey;
        border-radius: 2px;
        font-size: 12px;
        outline: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background: transparent;
        cursor: pointer;
      }
    }
  }
}
