.modal {
  // display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);

  .modal-content {
    width: 90%;
    margin: 50% auto;
    padding: 10px;
    background: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    animation-name: modalopen;
    animation-duration: var(--modal-duration);

    .modal-header {
      margin-bottom: 10px;
      display: flex;
      align-items: center;
      justify-content: center;

      h3 {
        padding: 0 10px 0 8px;
        font-size: 16px;
      }

      i {
        color: orange;
      }

      .close {
        color: black;
        font-size: 20px;
      }

      .close:hover,
      .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
      }
    }
  }
}

@keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
