@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@900&family=Nunito+Sans:wght@300;400&display=swap');

body {
  font-family: 'Nunito Sans', sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
